h3{
  font: 25px Andale Mono, monospace;
  line-height: 1.8;
  color: black;
  padding-top: 0px !important;
}

h5{
  font: 18px Andale Mono, monospace;
  line-height: 1.8;
  color: black;
  padding-top: 0px !important;
}

body {
    font: 20px Georgia, sans-serif;
    line-height: 1.8;
    color: black;
    padding-top: 0px !important;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}


.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
}
